.ly-tree-container {
    margin: 20px;
}

.ly-tree-container span {
    font-size: 14px
}

.ly-tree-container .el-tree>.el-tree-node>.el-tree-node__content:first-child::before,
.ly-tree-container .el-tree>.el-tree-node>.el-tree-node__content:first-child::after {
    border: none
}

.ly-tree-container .ly-visible {
    margin-left: 50px;
    visibility: hidden
}

.ly-tree-container .ly-edit__text {
    height: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #666;
    text-indent: 10px
}

.ly-tree-container .ly-tree__loading {
    color: #666;
    font-weight: bold
}

.ly-tree-container .ly-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    padding-right: 8px
}

.ly-tree-container .ly-tree-node>div>span:last-child {
    display: inline-block;
    width: 110px;
    text-align: left
}

.ly-tree-container .ly-tree-node>span:last-child {
    display: inline-block;
    width: 110px;
    text-align: left
}

.ly-tree-container .el-tree-node .el-tree-node__content {
    height: 30px
}

.ly-tree-container .el-tree-node .el-tree-node__content:hover .ly-visible {
    visibility: visible
}

.ly-tree-container .el-tree-node .el-tree-node__content::before,
.ly-tree-container .el-tree-node .el-tree-node__content::after {
    content: '';
    position: absolute;
    right: auto
}

.ly-tree-container .el-tree-node .el-tree-node__content::before {
    border-left: 1px solid #e6e6e6;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
    margin-left: -5px;
    margin-top: -15px
}

.ly-tree-container .el-tree-node .el-tree-node__content::after {
    border-top: 1px solid #e6e6e6;
    height: 20px;
    top: 14px;
    width: 10px;
    margin-left: -5px
}

.ly-tree-container .el-tree .el-tree-node {
    position: relative
}
